doctype html
html.no-js(lang="")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title= title
    meta(name="description" content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1")

    meta(property="og:url" content=urlPrefix)
    meta(property="og:type" content="website")
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    meta(property="og:image" content=thumbnail)

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content=twitterUsername)
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:creator" content=twitterUsername)
    meta(name="twitter:image:src" content=thumbnail)

    // Place favicon.ico in the root directory

    link(rel='stylesheet', href='/stylesheets/normalize.css')

    body
      block content
